# Task 2

In [1]:
import pandas as pd  #importing pandas library.

In [3]:
df_frd=pd.read_csv('Payment_Data.csv') #Loading  dataset.

In [8]:
df_frd.describe() #getting statistics about data.

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,isWeekend,label
count,39221.000000,39221.000000,39221.000000,39221.000000,38661.000000,39221.000000
mean,857.563984,1.084751,4.748232,122.641326,0.499547,0.014278
std,804.788212,0.566899,0.389360,283.569177,0.500006,0.118636
min,1.000000,1.000000,0.421214,0.000000,0.000000,0.000000
25%,72.000000,1.000000,4.742303,0.000000,0.000000,0.000000
50%,603.000000,1.000000,4.886641,0.012500,0.000000,0.000000
75%,1804.000000,1.000000,4.962055,87.510417,1.000000,0.000000
max,2000.000000,29.000000,5.040929,1999.580556,1.000000,1.000000

In [9]:
df_frd.isna().sum() #finding null values.

accountAgeDays            0
numItems                  0
localTime                 0
paymentMethod             0
paymentMethodAgeDays      0
Category                 95
isWeekend               560
label                     0
dtype: int64

In [10]:
#missing data percentage.
total = df_frd.isnull().sum().sort_values(ascending=False)
percent = (df_frd.isnull().sum()/df_frd.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head()

                Total   Percent
isWeekend         560  0.014278
Category           95  0.002422
accountAgeDays      0  0.000000
numItems            0  0.000000
localTime           0  0.000000

In [11]:
#handling missing data.
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='most_frequent')
imputed=imputer.fit_transform(df_frd[['isWeekend','Category']])
df_frd['isWeekend']=imputed[:,0]
df_frd['Category']=imputed[:,1]

In [12]:
df_frd.isna().sum() # again checking for null values.

accountAgeDays          0
numItems                0
localTime               0
paymentMethod           0
paymentMethodAgeDays    0
Category                0
isWeekend               0
label                   0
dtype: int64